# COVERAGE RESULT
.nyc_output
coverage

# PACKAGES
node_modules

# BUILD
/build
dist

# IDE
.vscode/*
.idea/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ENV
.env

# LOCKS
package-lock.json
yarn.lock

# DATABASE
postgres-data